{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="login-container">
<h1 class="login-title">Login</h1>
    <form class="login-form" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="logged-in-info">
                You are logged in as {{ app.user.userIdentifier }}, 
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        
        <div class="form-group">
            <label class="form-label" for="inputEmail">Email</label>
            <input class="form-input" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
        </div>
        
        <div class="form-group">
            <label class="form-label" for="inputPassword">Password</label>
            <input class="form-input" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
        </div>
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <div class="form-group checkbox-group">
            <label class="checkbox-label">
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <button class="btn btn-primary" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}