{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<h1>Liste des produits</h1>
	{% for p in products %}
		<p>{{p.title}}</p>
		{% if p.image is not empty %}
			<img src="{{ asset('uploads/' ~ p.image) }}" style="max-width:100px;">
		{% endif %}

		<form action="{{path('app_product_delete', {id: p.id})}}" method="POST">
			<input type="hidden" name="csrf" value="{{ csrf_token('delete' ~ p.id) }}">
			<input type="submit" value="Delete">
		</form>

		<hr>
	{% else %}
		<p>Aucun produit</p>
	{% endfor %}

	<h2>Ajouter un produit</h2>
	{{form(ajout_produit)}}{% endblock %}
