{% extends 'base.html.twig' %}

{% block title %}
	Liste des catégories
{% endblock %}

{% block body %}
	<h1>{{ 'category.list'|trans }}</h1>

	{{ dump(categories) }}

	{% if is_granted('ROLE_ADMIN') %}
		{% for c in categories %}
			<p>
				<a href="{{ path('app_category_show', {id: c.id}) }}">
					{{ c.title }}
				</a>
			</p>
		{% else %}
			<p>Aucune catégorie</p>
		{% endfor %}
	{% else %}
		<p>Vous n'êtes pas admin</p>
	{% endif %}

	<h2>Ajouter une catégorie</h2>
	{{ form(ajout_category) }}{% endblock %}
